<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Пиццерия 'У Ашота'!</title>
	</head>
		
	<body>
		
		{% include "home.html" %}

		{% block header %}{% endblock header %}

		<h2> Welcome to pizza 'У Ашота'!</h2>
			<p> <a href="{% url 'home' %}"> Домой </a></p>
			<br>
			<p><a href="{% url 'add_pizza' %}">Добавить пиццы в корзину</a></p>
			<p> <a href="{% url 'basket' %}"> Список заказов </a></p>  
			<br>
			<p> <a href="{% url 'create_dough' %}"> Добавить корж </a></p>
			<p> <a href="{% url 'list_dough' %}"> Список коржей </a></p>  
			<br>
			<p> <a href="{% url 'create_snacks' %}"> Добавить закуску </a></p>
			<p> <a href="{% url 'list_snacks' %}"> Список закусок </a></p>  
			<br>
			<p> <a href="{% url 'create_topping' %}"> Добавить топпинг </a></p>
			<p> <a href="{% url 'sorter' %}"> Список топпингов </a></p>  
			<p><a href="{% url 'common_update' %}">Общее обновление топпингов</a></p>
		
		{% block content %}{% endblock content %}

	</body>

</html>