{% extends "base.html" %}

{% block content %}
	<h2> Форма изменения заказа</h2>
	<p>Удерживайте "Control" (или "Command" на Mac), чтобы выбрать несколько значений.</p>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Обновить">
	</form>

	{% for instance_pizza in instances_pizzas %}
	<ul>
	{{ instance_pizza.name }} -- {{ instance_pizza.count }} -- <a href="{% url 'update_instance_pizza' instance_pizza.id %}">Изменить</a>
	</ul>
	{% endfor %}
{% endblock %}
