{% extends "index.html" %}

{% block head_title %}Login page{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Change password</strong></h3>
                </div>
                <div class="panel-body">
                    {% if form.non_field_errors and not expired %}
                        {% for error in form.non_field_errors %}
                        <h4 class="text text-danger bold mb-3">{{ error }}</h4>
                        {% endfor %}
                    {% endif %}
                    {% if expired %}
                    <h4 class="text text-danger bold">Token expired or does not exist!</h4>
                    <div class="text text-danger bold">Please, make password reset request again.</div>
                    {% else %}
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="password" id="new_password" name="new_password" class="form-control" value="{{ form.new_password.value }}" required>
                            <label for="new_password">New password</label>
                            {% if form.errors.new_password %}
                                <strong class="text text-danger">{{ form.errors.new_password.as_text }}</strong>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="password" id="password_repeat" name="password_repeat" class="form-control" value="{{ form.password_repeat.value }}" required>
                            <label for="password_repeat">Repeat password</label>
                            {% if form.errors.password_repeat %}
                                <strong class="text text-danger">{{ form.errors.password_repeat.as_text }}</strong>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn material-btn waves-effect waves-light text-transform-none mt-1">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}